<div class="card-columns text-center ">
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/灯.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">LED灯</h5>
      <button type="button" class="btn btn-success mr-1" (click)="ledon()">开</button>
      <button type="button" class="btn btn-danger" (click)="ledoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/空调.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">空调</h5>
      <button type="button" class="btn btn-success mr-1" (click)="acon()">开</button>
      <button type="button" class="btn btn-danger" (click)="acoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/风扇.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">风扇</h5>
      <button type="button" class="btn btn-success mr-1" (click)="fanhigh()">高</button>
      <button type="button" class="btn btn-secondary mr-1" (click)="fanlow()">低</button>
      <button type="button" class="btn btn-danger" (click)="fanoff()">关</button>
    </div>
  </div>



</div>